* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}

#tooltip {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}

.bar:hover {
    fill:rgb(0, 247, 255);
}

text {
    font-size: 150%;
}